body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgba(225, 225, 225, 1);
}
/*banner*/

#group{
	position: absolute;
	top: 50px;
	left: 70px;
	height: 135px;
	width: 598px;
	background-color: rgba(36, 68, 115, 1);
	border-radius: 2px;
}

#header{
position: absolute;
top: 78px;
left: 103px;
height: 28px;
width: 224px;
font-family: 'Helvetica Neue';
font-size: 24px;
font-weight: 300;
color: rgba(255, 255, 255, 1);
text-align: center;
}

#Lorem {
position: absolute;
top: 111px;
left: 104px;
height: 32px;
width: 294px;
font-family: 'Helvetica Neue';
font-size: 9px;
color: rgba(255, 255, 255, 1);
text-align: left;
}

#more{
position: absolute;
top: 159px;
left: 103px;
height: 17px;
width: 70px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 8px;
}

#more1{
position: absolute;
top: 155px;
left: 130px;
height: 9px;
width: 17px;
font-family: 'Helvetica Neue';
font-size: 8px;
color: rgba(255, 255, 255, 1);
text-align: center;
}


/*menu*/
#menu {
position: absolute;
top: 0px;
left: 0px;
height: 612px;
width: 65px;
background-image: -webkit-linear-gradient(-180deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
background-image: -moz-linear-gradient(-180deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
background-image: -o-linear-gradient(-180deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
background-image: linear-gradient(-180deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
}

#logo{
position: absolute;
top: 13px;
left: 7px;
height: 10px;
width: 49px;

}

#blockLeft{
position: absolute;
top: 78px;
left: 0px;
height: 122px;
width: 65px;
background-color: rgba(255, 255, 255, 0.09);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);

}
#smallBlock{
position: absolute;
top: 24px;
left: 7px;
height: 99px;
width: 44px;
font-family: 'Helvetica Neue';
font-size: 7px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: left;
line-height: 17px;

}
#Events {
position: absolute;
top: 6px;
left: 5px;
height: 9px;
width: 24px;
font-family: 'Helvetica Neue';
font-size: 8px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: left;
}

#membership {
position: absolute;
top: 213px;
left: 5px;
height: 9px;
width: 48px;
font-family: 'Helvetica Neue';
font-size: 8px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: left;
}

#border1{
position: absolute;
top: 235px;
left: 0px;
height: 1px;
width: 64px;
border: 0.1px solid rgba(255, 255, 255, 1);
opacity: 0.5;

}



#border3{
position: absolute;
top: 292px;
left: 0px;
height: 1px;
width: 64px;
border: 0.1px solid rgba(255, 255, 255, 1);
opacity: 0.5;

}

#border2{
position: absolute;
top: 265px;
left: 0px;
height: 1px;
width: 64px;
border: 0.1px solid rgba(255, 255, 255, 1);
opacity: 0.5;
}
#seasonal {
position: absolute;
top: 235px;
left: 5px;
height: 18px;
width: 32px;
font-family: 'Helvetica Neue';
font-size: 8px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: left;
}

#purchases{
position: absolute;
top: 269px;
left: 5px;
height: 9px;
width: 37px;
font-family: 'Helvetica Neue';
font-size: 8px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: left;
}


#about{
position: absolute;
top: 434px;
left: 12px;
height: 8px;
width: 39px;
font-family: 'Helvetica Neue';
font-size: 6px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: center;
}

#contacts{
position: absolute;
top: 448px;
left: 16px;
height: 8px;
width: 31px;
font-family: 'Helvetica Neue';
font-size: 6px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: center;
}

#help{
position: absolute;
top: 464px;
left: 15px;
height: 8px;
width: 33px;
font-family: 'Helvetica Neue';
font-size: 6px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: center;
}


#border4{
position: absolute;
top: 500px;
left: 1px;
height: 1px;
width: 63px;
border: 0.1px solid rgba(255, 255, 255, 1);
opacity: 0.5;	
}

#user{
position: absolute;
top: 499px;
left: 12px;
height: 18px;
width: 31px;
font-family: 'Helvetica Neue';
font-size: 10px;
font-weight: 300;
color: rgba(255, 255, 255, 1);
text-align: center;
line-height: 9px;
}

/*search*/



#square{
	position: absolute;
	top: 0px;
	left: 65px;
	height: 39px;
	width: 608px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(225, 225, 225, 1);
}
#dropdownmenu1{
position: absolute;
top: 14px;
left: 374px;
height: 4px;
width: 6px;

}
#dropdownmenu2{
position: absolute;
top: 14px;
left: 484px;
height: 4px;
width: 6px;
}
#searchButton{
position: absolute;
top: 10px;
left: 77px;
height: 8px;
width: 8px;
 border: 0.05em solid rgba(150, 149, 151, 1);
border-radius: 0.35em;

}
#searchButton2{
position: absolute;
top: 15px;
left: 85px;
height: 5px;
width: 5px;
border-bottom: 1px solid rgba(150, 149, 151, 1);
transform: rotate(50deg);
}


#input{
	position: absolute;
	top: 6px;
	left: 71px;
	height: 20px;
	width: 215px;
	border: 1px solid rgba(225, 224, 224, 1);
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.6);
}

#searchContainer p{
position: absolute;	
font-family: 'Helvetica Neue';
font-size: 7px;
font-weight: 300;
color: rgba(150, 149, 151, 1);
text-align: left;
}

#value{
top: 7px;
left: 96px;
height: 8px;
width: 63px;

}
#textWeek{
top: 5px;
left: 310px;
height: 8px;
width: 37px;

}
#choose{
	position: absolute;
	top: 6px;
	left: 305px;
	height: 20px;
	width: 90px;
	border: 1px solid rgba(225, 224, 224, 1);
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.6);

}
#textChoose{
	top:5px;
	left: 420px;
	height: 8px;
	width: 37px;
}
#week{
	position: absolute;
	top: 6px;
	left: 412px;
	height: 20px;
	width: 90px;
	border: 1px solid rgba(225, 224, 224, 1);
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.6);

}

#tw{
	position: absolute;
	top: 10px;
	left: 577px;
	height: 14px;
	width: 14px;
}

#fb{
	position: absolute;
	top: 10px;
	left: 600px;
	height: 14px;
	width: 14px;
}

#insta{
	position: absolute;
	top: 10px;
	left: 620px;
	height: 15px;
	width: 15px;

}

/*listA*/
#listA{
position: relative;
top: 230px;
left: 72px;
height: 115px;
width: 590px;
z-index: 1;
}
#element1{
	height: 100px;
}
#backgroundImg{
position: relative;
height: 55px;
width: 145px;
background-color: rgba(255, 255, 255, 1);
border-radius: 2px;
}
#playerOneImg{
position: relative;
bottom:  65px;
left: 15px;
height: 20px;
width: 17px;
}
#playerTwoImg{
position: relative;
bottom:  84px;
left: 110px;
height: 20px;
width: 17px;
}
#coming{
position: relative;
bottom: 13px;
right: 3px;
height: 16px;
width: 53px;
z-index: 2;
}
#box{
position: absolute;
z-index: -1;
top: 55px;
height: 65px;
width: 145px;
background-color: rgba(255, 255, 255, 1);
border-radius: 2px;
}


#titleLogo{
position: relative;
bottom: 237px;
left: 63px;
height: 15px;
width: 22px;
}
#playerOneName{
position: relative;
bottom: 103px;
left: 10px;
height: 6px;
width: 34px;
font-size: 6px;
color: rgba(255, 255, 255, 1);
}
#playerTwoName{
position: relative;
bottom: 89px;
left: 107px;
height: 6px;
width: 27px;
font-size: 7px;
color: rgba(255, 255, 255, 1);
}
#vs{
position: relative;
bottom: 195px;
left: 67px;
height: 11px;
width: 12px;
font-family: 'Helvetica';
font-size: 9px;
font-weight: 300;
color: rgba(255, 255, 255, 1);
text-align: center;
z-index: 2;
}
#title{
position: relative;
bottom: 187px;
left: 0px;
height: 5px;
font-family: 'Helvetica Neue';
font-size: 4px;
font-weight: bold;
color: rgba(255, 255, 255, 1);
text-align: center;
z-index: 2;
}
#date{
position: relative;
bottom:  138px;
left: 30px;
height: 7px;
width: 47px;
font-family: 'Helvetica Neue';
font-size: 6px;
color: rgba(150, 149, 151, 1);
text-align: center;
}
#time{
position: relative;
bottom:  125px;
left: 20px;
height: 7px;
font-family: 'Helvetica Neue';
font-size: 6px;
color: rgba(150, 149, 151, 1);
text-align: center;
}
#place{
position: relative;
bottom:  100px;
left: 5px;
height: 6px;
font-family: 'Helvetica Neue';
font-size: 6px;
color: rgba(150, 149, 151, 1);
text-align: center;
}
#event{
position: relative;
bottom:  55px;
left: 10px;
height: 8px;
width: 24px;
font-family: 'Helvetica Neue';
font-size: 7px;
color: rgba(150, 149, 151, 1);
text-align: left;
}
#seats{
position: relative;
bottom:  40px;
left: 25px;
height: 8px;
font-family: 'Helvetica Neue';
font-size: 7px;
color: rgba(71, 70, 72, 1);
text-align: center;
font-family: 'Helvetica Neue';
font-size: 7px;
color: rgba(165, 165, 165, 1);
text-align: center;
}

#upcoming{
	position: absolute;
	top: 193px;
	left: 74px;
	color: rgb(94, 94, 94);
	font-size: 12px;
}

#membershipWord{
	position: absolute;
	top: 350px;
	left: 74px;
	color: rgb(94, 94, 94);
	font-size: 12px;
}


/*listB*/
#listB{
position: relative;
top: 270px;
left: 72px;
height: 115px;
width: 590px;
z-index: 1;
}


#dummyBackround{
position: relative;
height: 90px;
width: 145px;
background-color: rgba(255, 255, 255, 1);
border-radius: 2px;
}

#listB p{
	position: relative;
	color: rgba(255, 255, 255, 1);
	z-index: 2;
	font-family: 'Helvetica Neue';

}

#dummyDummy{
	bottom: 86px;
	font-size: 6px;
	left: 10px;
}

#dummyLorum{
	bottom: 40px;
	font-size: 7px;
	left: 60px;
}
#dummyNumber{
	bottom: 105px;
	font-size: 12px;
	left: 10px;		
}
#ticket{
position: absolute;
left: 170px;
height: 20px;
width: 90px;
border: 1px solid ;
border-radius: 20px;	
z-index: 3;
color: rgba(255, 255, 255, 1);
font-family: 'Helvetica Neue';
font-size: 9px;
top:90px;
background-image: -webkit-linear-gradient(-180deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
}

#trick{
position: absolute;
left: 155px;
height: 20px;
width: 130px;
background-color: rgba(255, 255, 255, 1);
z-index: 2;
font-size: 9px;
top: 95px;
}

#page2Pic{
display: none;
position: absolute;
left : 771px;
height: 558px;
width: 292px;
}

#page2Container{
display: none;
position: absolute;
left: 70px;	
}

#textP2{
	font-size: 6px;
	float: right;
}


#page2Container p {
	position: absolute;
	left: 76px;
	font-family: 'Helvetica Neue';
	text-align: left;

}

#headerP2{
	top: 37px;
	height: 62px;
	width: 193px;
	font-size: 26px;
	color: rgba(71, 70, 72, 1);
}



#lineP2{
top: 110px;
height: 13px;
width: 193px;
font-size: 11px;
color: rgba(71, 70, 72, 1);

}


input:focus {
    outline: none;
}

#textP2{
top: 133px;
height: 21px;
width: 304px;
font-size: 9px;
color: rgba(150, 149, 151, 1);
}

#PurchaseTickets{
	position: absolute;
	top: 427px;
	left: 154px;
	height: 32px;
	width: 144px;
	border-radius: 16px;
	box-shadow: 0px 5px 9px 0px rgba(187, 50, 54, 0.22);
	background-image: -webkit-linear-gradient(-32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
	background-image: -moz-linear-gradient(-32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
	background-image: -o-linear-gradient(-32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
	background-image: linear-gradient(-32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
}

#PurchaseTicketsContainer #PurchaseTicketsText{
position: absolute;
top: 430px;
left: 190px;
height: 11px;
width: 69px;
font-family: 'Helvetica';
font-size: 9px;
color: rgba(255, 255, 255, 1);
text-align: center;
}

#rightsReserved{
	position: absolute;
top: 600px;
left: 76px;
height: 6px;
width: 157px;
font-family: 'Helvetica Neue';
font-size: 5px;
color: rgba(150, 149, 151, 1);
text-align: left;

}